//imports
@import "./resets";
@import "./variables";

/* html */

/* background colors */
header,
.hero-container {
  background-color: $dark-background;
}
.quote-container {
  background-color: $hero-secondary;
}

/* header elements */
header {
  display: flex;
  text-align: center;
  padding: 10px;
}
header h1 {
  font-size: 24px;
  font-weight: 700;
  color: $hero-main;
}
header ul {
  color: $hero-secondary;
  display: flex;
  padding: 0 20px 0 20px;
}

/* hero elements */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 50px 20px;
}
.hero-header {
  color: $hero-main;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 50px;
  margin-bottom: 10px;
}
.hero-wrapper {
  padding: 25px;
}
#hero-description {
  color: $hero-secondary;
  font-size: 18px;
  margin-bottom: 10px;
}
.btn {
  color: $hero-main;
  background-color: $ocean-blue;
  border: none;
  border-radius: 5px;
  padding: 7px 25px 7px 25px;
  margin-bottom: 15px;
}
.hero-image {
  color: $hero-main;
  background-color: gray;
  padding: 50px;
  width: 150px;
  height: 50px;
  margin: auto;
  text-align: center;
}

/* middle container */
.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.middle-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.middle-container h3 {
  color: $dark-blue;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.illustration {
  border: 2px solid $ocean-blue;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  margin: auto;
}
.subtext {
  width: 100px;
  color: gray;
  margin: auto;
  padding: 10px;
}

/* quote container */
.quote-container {
  padding: 50px;
  text-align: center;
}
.quote-container h4 {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: $dark-blue;
}
#quote-source {
  color: $dark-blue;
  font-weight: 400;
  margin-top: 10px;
}

/* bottom container */
.block {
  background-color: $ocean-blue;
  border-radius: 5px;
  width: 300px;
  margin: 50px auto 50px auto;
  display: flex;
  padding: 20px;
}
.block h5 {
  color: $hero-main;
  font-weight: 600;
}
.block p {
  color: $hero-secondary;
}
.btn-2 {
  color: $hero-main;
  background-color: $ocean-blue;
  border: 1px solid $hero-main;
  border-radius: 5px;
  padding: 7px 30px 7px 30px;
}

/* footer */
footer {
  color: $hero-secondary;
  background-color: $dark-background;
  text-align: center;
  padding: 25px;
}

/* media query */
@media only screen and (min-width: 1920px) {
  /* header elements */
  header {
    justify-content: space-around;
  }
  header h1 {
    padding: 15px;
  }
  header li {
    padding: 15px;
  }

  /* hero elements */
  .hero-container {
    flex-direction: row;
  }
  .hero-header {
    font-size: 48px;
    width: 450px;
  }
  .hero-wrapper {
    margin: auto;
  }
  #hero-description {
    width: 400px;
  }
  .hero-image {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  /* middle container */
  .middle-container {
    margin-top: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
  .card {
    padding: 10px;
    margin-top: 50px;
  }
  .middle-container h3 {
    position: absolute;
  }
  /* quote container */
  .quote-container {
    padding: 150px;
    margin: auto;
  }
  .quote-container h4 {
    width: 750px;
    margin: auto;
    text-align: start;
  }
  #quote-source {
    font-weight: bold;
    margin-left: 550px;
  }
  /* bottom container */
  .block {
    width: 1500px;
    height: 50px;
    padding: 25px;
  }
  .text-wrapper {
    margin: auto 800px auto 100px;
  }
}
